[submodule "CryptoForecast/lib/horizongraph"]
	path = CryptoForecast/lib/horizongraph
	url = https://github.com/thomaskern/horizongraph_matplotlib
[submodule "plo7y"]
	path = plo7y
	url = git@github.com:7yl4r/plo7y.git
	branch = master
