altair==2.2.2
asn1crypto==0.24.0
attrs==18.1.0
autobahn==18.5.2
Automat==0.6.0
backports-abc==0.5
backports.functools-lru-cache==1.5
enigma-catalyst==0.5.21
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.2.2
cycler==0.10.0
dateparser==0.7.0
docutils==0.14
entrypoints==0.2.3
get==1.0.3
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
jsonschema==2.6.0
kiwisolver==1.0.1
lockfile==0.12.2
luigi==2.7.5
lxml==4.2.1
matplotlib==2.2.2
numpy==1.14.3
pandas==0.23.0
patsy==0.5.0
pkg-resources==0.0.0
post==1.0.2
public==1.0.3
pyasn1==0.4.3
pyasn1-modules==0.2.1
pycparser==2.18
pyOpenSSL==18.0.0
pyparsing==2.2.0
python-binance==0.6.9
python-daemon==2.1.2
python-dateutil==2.7.3
pytrends==4.4.0
pytz==2018.4
query-string==1.0.2
regex==2018.2.21
requests==2.18.4
scipy==1.1.0
selenium==3.141.0
service-identity==17.0.0
singledispatch==3.4.0.3
six==1.11.0
statsmodels==0.9.0
subprocess32==3.5.1
toolz==0.9.0
tornado==4.5.3
Twisted==22.1.0
txaio==2.10.0
typing==3.6.6
tzlocal==1.5.1
urllib3==1.22
vega-datasets==0.6.0
zope.interface==4.5.0
